.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  margin: 0 auto;
  max-width: 80rem;
  width: 80%;

  @media (max-width: $smDesktopWidth) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

#buttonLogout {
  display: none;
}

body.loggedIn section.login {
  display: none;
}

body.loggedIn #buttonLogout {
  display: inline-block;
}
body.loggedIn section.account {
  display: block;
}
