// @import "utils/normalize";
@import "utils/vars";
@import "modules/footer";
@import "modules/header";
@import "modules/account";
@import "modules/login";
@import "layout";
@import "elements";

* {
  box-sizing: border-box;
}

:root {
  font-family: $mainFont;
  font-size: $mainFontSize;
  color: $neutral-primary;
}

body,
html {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
  padding-top: 2rem;
}

section {
  padding: 3rem 0;
}
