.logged_info-block {
  // max-width: 20rem;
  background: $default-color;
  width: 20rem;
  border-radius: 0.5rem;
  border: 0.2rem solid $primary-color;
  padding: 2rem;
  margin-bottom: 2rem;

  display: flex;
  flex-direction: column;
  #taskCounter {
    margin-top: 0.75rem;
  }
  > button {
    opacity: 0.5;
    margin-left: auto;
    margin-bottom: 0;
    &:hover {
      opacity: 0.9;
    }
  }
  @media (min-width: $smDesktopWidth + 1px) {
    position: fixed;
    right: 10%;
    top: 9rem;
  }
}

.loginData {
  margin: 0;
  padding: 0;
  margin-top: 0.25rem;
  li {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;

    span {
      margin-right: 0.5rem;
      &.data {
        font-weight: 600;
        // font-weight: normal;
        flex-grow: 1;
        &#password {
          color: transparent;
          text-shadow: 0 0 0.5rem $neutral-regular;
          transition: 0.25s all ease-out;
          &:hover {
            color: $neutral-primary;
            text-shadow: 0 0 0 transparent;
          }
        }
      }
    }

    button {
      order: 1;
      margin: 0;
      margin-left: auto;
      opacity: 0.5;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
