.ModalWindow {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  .modalInner {
    margin: auto;
    background: $default-color;
    border: 0.25rem solid $primary-color;
    padding: 2rem 3rem;
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    width: 28rem;
    textarea {
      width: 100%;
      height: 7rem;
    }
    button {
      margin: 1rem auto 0;
      width: 7rem;
    }
  }
  opacity: 0;
  pointer-events: none;
  transition: 0.4s all ease-in-out;
  &.active {
    opacity: 1;
    pointer-events: all;
  }
}
